
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.forgot-password-screen-61f {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #c99b2b;
  box-sizing: border-box;
  padding-left: 21.5rem;

  .auto-group-dssb-RJq {
    margin: 0rem 2.4rem 3.7rem 0rem;
    width: 48.7rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-edxy-8yw {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0 0.1rem;

      .auto-group-3l4s-fiy {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-bottom: 2.7rem;
        width: 100%;
        align-items: center;

        .forgot-password-c8R {
          font-family: Inknut Antiqua, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1.1rem 1.3rem 0rem;
          line-height: 2.5775;
          color: #ffffff;
          text-align: center;
          font-size: 2.8rem;
          font-weight: 800;
        }
        .enter-your-email-address-and-well-send-you-a-link-to-reset-your-password-WUh {
          max-width: 48.5rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 800;
          line-height: 2.5775;
          color: #020642;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .email-address-oTo {
        font-weight: 500;
        line-height: 2.5775;
        color: #ffffff;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
      }
    }
    .auto-group-kfsj-91s {
      flex-shrink: 0;
      font-size: 1.4rem;
      background-color: #ffffff;
      box-sizing: border-box;
      width: 100%;
      font-weight: 500;
      line-height: 2.5775;
      white-space: nowrap;
      border-radius: 0.5rem;
      padding: 0.2rem 1.1rem;
      height: 4.4rem;
      color: rgba(0, 0, 0, 0.4399999976);
      font-family: Inknut Antiqua, 'Source Sans Pro';
      margin-bottom: 7.1rem;
    }
    .auto-group-n1b1-Pwo {
      width: 100%;
      font-size: 2rem;
      font-weight: 800;
      background-color: #020642;
      border-radius: 0.5rem;
      flex-shrink: 0;
      height: 6.7rem;
      text-align: center;
      line-height: 2.5775;
      display: flex;
      color: #ffffff;
      margin-bottom: 1.9rem;
      font-family: Inknut Antiqua, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      justify-content: center;
    }
    .auto-group-xzcx-sry {
      background-color: rgba(2, 6, 66, 0.0900000036);
      border-radius: 0.5rem;
      margin-bottom: 5.5rem;
      box-sizing: border-box;
      padding: 0.7rem 16.1rem 0.8rem 12.3rem;
      width: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .image-35-Bsf {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.3rem 0.1rem 0rem 0rem;
        width: 4.3rem;
        height: 2.9rem;
      }
      .back-to-login-VtM {
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        line-height: 2.5775;
        color: #ffffff;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-ytvh-DJZ {
      margin: 0rem 10.8rem 0rem 9.8rem;
      width: calc(100% - 20.6rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .dont-have-an-account-Le5 {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-weight: 800;
        line-height: 2.5775;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        margin-right: 1rem;
        font-size: 1.2rem;
      }
      .create-account-Tih {
        flex-shrink: 0;
        cursor: pointer;
        text-decoration-line: underline;
        color: #020642;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 2.5775;
        white-space: nowrap;
      }
    }
  }
  .auto-group-fyvt-aHX {
    width: 119.4rem;
    height: 102.7rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-849 {
      background-color: #fffefd;
      border-radius: 3.9rem 0 0 3.9rem;
      width: 96rem;
      height: 102.4rem;
      position: absolute;
      left: 23.4rem;
      top: 0.3rem;
    }
    .high-res-2-2fK {
      left: 38.9rem;
      top: 1.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 67.3rem;
      height: 99rem;
      position: absolute;
    }
  }
}
