
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.form3-XFf {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-qflw-fMs {
    width: 100%;
    height: 25.7rem;
    position: relative;
    flex-shrink: 0;

    .line-2-bmK {
      width: 191.9999rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 18.3rem;
      background-color: #ff8080;
    }
    .image-12-vob {
      width: 192rem;
      height: 15.7rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .traffic-accident-report-form-497 {
      font-weight: 800;
      font-family: Inknut Antiqua, 'Source Sans Pro';
      white-space: nowrap;
      width: 56.9rem;
      height: 6.8rem;
      left: 74.8rem;
      top: 18.9rem;
      font-size: 2.6rem;
      position: absolute;
      text-align: center;
      line-height: 2.5775;
      color: #020642;
    }
    .item-999-112-911-jm3 {
      align-items: baseline;
      height: 3.9rem;
      font-weight: 800;
      line-height: 2.5775;
      display: flex;
      position: absolute;
      left: 173.8rem;
      font-family: Inknut Antiqua, 'Source Sans Pro';
      font-size: 1.5rem;
      white-space: nowrap;
      color: #000000;
      width: 9.5rem;
      top: 14.9rem;
      text-align: center;

      .item-999-112-911-jm3-sub-0 {
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 2.5775;
        color: #cc1717;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
      .item-999-112-911-jm3-sub-1 {
      }
      .item-999-112-911-jm3-sub-2 {
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 2.5775;
        color: #020642;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
    }
    .police-hot-lines-vDF {
      width: 14.6rem;
      position: absolute;
      font-size: 1.5rem;
      font-weight: 800;
      color: #000000;
      font-family: Inknut Antiqua, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.9rem;
      left: 157.05rem;
      top: 15.1rem;
      text-align: center;
      line-height: 2.5775;
    }
  }
  .auto-group-rr1d-21P {
    width: 100%;
    height: 235.5rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-rpt3-8q7 {
      align-items: center;
      width: 103.4rem;
      height: 4.5rem;
      position: absolute;
      left: 49rem;
      top: 2.4rem;
      display: flex;

      .ellipse-1-f4M {
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.4rem;
        width: 3.8rem;
        height: 4.1rem;
        object-fit: contain;
      }
      .auto-group-yegs-zcR {
        margin-top: 0.4rem;
        width: 46.9rem;
        height: 0.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ellipse-2-LAV {
        margin-top: 0.4rem;
        width: 3.8rem;
        height: 4.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .line-4-GZw {
        margin-top: 0.4rem;
        width: 45.1rem;
        height: 0.1rem;
        background-color: #020642;
        flex-shrink: 0;
      }
      .ellipse-3-oJy {
        margin-bottom: 0.4rem;
        width: 3.8rem;
        height: 4.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-rjtx-9Nq {
      width: 116.65rem;
      height: 15rem;
      position: absolute;
      left: 40.6rem;
      top: 7.6rem;
      display: flex;
      align-items: center;

      .item-5-GiM {
        font-weight: 800;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 3.2rem;
        line-height: 2.5775;
        margin: 0.3rem 0.45rem 0rem 0rem;
      }
      .auto-group-c9st-A33 {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .vehicle-details-i4Z {
          text-align: center;
          white-space: nowrap;
          flex-shrink: 0;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          margin: 0rem 0rem 1.2rem 1rem;
          font-size: 1.4rem;
          font-weight: 800;
          line-height: 2.5775;
          color: #000000;
        }
        .accident-1pM {
          margin-left: 0.9rem;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 800;
          white-space: nowrap;
          line-height: 2.5775;
          color: #020642;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .accident-date-LLq {
          line-height: 2.5775;
          color: #000000;
          flex-shrink: 0;
          margin-right: 1.7rem;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 500;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-7yub-ra5 {
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 9.45rem;

        .auto-group-eudq-nyX {
          width: 41.4rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 7.75rem 0.2rem 0rem;

          .driver-details-vK3 {
            margin-bottom: 7.1rem;
            text-align: center;
            line-height: 2.5775;
            white-space: nowrap;
            font-family: Inknut Antiqua, 'Source Sans Pro';
            flex-shrink: 0;
            width: 100%;
            font-size: 1.4rem;
            font-weight: 800;
            color: #000000;
          }
          .rectangle-21-F6R {
            width: 100%;
            height: 4rem;
            border: solid 0.1rem #020642;
            box-sizing: border-box;
            background-color: #fffefd;
            border-radius: 0.5rem;
            flex-shrink: 0;
          }
        }
        .time-mKf {
          margin-right: 3.45rem;
          text-align: center;
          font-weight: 500;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.5rem;
          line-height: 2.5775;
          color: #000000;
          font-family: Inknut Antiqua, 'Source Sans Pro';
        }
        .auto-group-kr95-VmT {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          width: 32.95rem;

          .accident-details-DxM {
            font-family: Inknut Antiqua, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 7rem;
            text-align: center;
            font-size: 1.4rem;
            color: #000000;
            width: 100%;
            font-weight: 800;
            line-height: 2.5775;
          }
          .rectangle-39-x9F {
            height: 4rem;
            border: solid 0.1rem #020642;
            box-sizing: border-box;
            background-color: #fffefd;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-right: 4.45rem;
            width: 28.5rem;
          }
        }
      }
    }
    .auto-group-jdeb-s1K {
      left: 40.35rem;
      top: 67.2rem;
      display: flex;
      align-items: center;
      width: 29rem;
      height: 8.3rem;
      position: absolute;

      .item-6-zbj {
        text-align: center;
        line-height: 2.5775;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.1rem;
        font-weight: 800;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        font-size: 3.2rem;
      }
      .driver-statement-JsK {
        font-size: 2.4rem;
        flex-shrink: 0;
        font-weight: 800;
        line-height: 2.5775;
        color: #020642;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        margin-top: 0.3rem;
        text-align: center;
      }
    }
    .auto-group-exbr-EW5 {
      top: 112.4rem;
      display: flex;
      align-items: flex-end;
      width: 27.15rem;
      height: 8.3rem;
      position: absolute;
      left: 40.55rem;

      .item-7-mF7 {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        line-height: 2.5775;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        margin-right: 1.75rem;
        font-size: 3.2rem;
        font-weight: 800;
      }
      .vehicle-damage-JF3 {
        font-family: Inknut Antiqua, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 2.5775;
        color: #020642;
        white-space: nowrap;
        margin-bottom: 0.3rem;
        text-align: center;
      }
    }
    .auto-group-dqlx-2gq {
      left: 39.95rem;
      top: 137rem;
      display: flex;
      align-items: center;
      width: 29.65rem;
      height: 8.3rem;
      position: absolute;

      .item-8-NEu {
        margin-right: 1.65rem;
        font-size: 3.2rem;
        font-weight: 800;
        line-height: 2.5775;
        color: #000000;
        flex-shrink: 0;
        text-align: center;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
      }
      .property-damage-hY5 {
        text-align: center;
        font-size: 2.4rem;
        color: #020642;
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.9rem;
        font-weight: 800;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
    }
    .auto-group-umnb-dAq {
      width: 112.15rem;
      height: 20.4rem;
      position: absolute;
      left: 39.95rem;
      top: 159.9rem;
      display: flex;
      align-items: center;

      .item-9-Lqw {
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 1.85rem 3.7rem 0rem;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 800;
        color: #000000;
      }
      .auto-group-8yuf-rpH {
        width: 106.7rem;
        height: 100%;
        flex-shrink: 0;

        .rectangle-86-cYZ {
          box-sizing: border-box;
          background-color: #ffffff;
          margin: 0rem 0rem 1.3rem 0.3rem;
          width: 106.4rem;
          height: 4.3rem;
          border: solid 0.1rem #000000;
        }
        .auto-group-vfsh-LDf {
          align-items: flex-end;
          margin: 0rem 58.3rem 0rem 0.3rem;
          width: calc(100% - 58.6rem);
          height: 6.2rem;
          display: flex;

          .auto-group-8r5m-f13 {
            margin-right: 18rem;
            width: 30rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .independent-witness-14u {
              height: 6.2rem;
              position: absolute;
              text-align: center;
              font-size: 2.4rem;
              line-height: 2.5775;
              white-space: nowrap;
              width: 30rem;
              left: 0;
              top: 0;
              font-weight: 800;
              color: #020642;
              font-family: Inknut Antiqua, 'Source Sans Pro';
            }
            .line-12-Jph {
              width: 0.1rem;
              height: 0.1rem;
              position: absolute;
              left: 25rem;
              top: 6rem;
              background-color: #000000;
            }
          }
          .line-13-qpd {
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            width: 0.1rem;
            height: 0.1rem;
            background-color: #000000;
          }
        }
        .auto-group-aknw-yfw {
          width: 72.4rem;
          height: 8.6rem;
          position: relative;

          .rectangle-57-XBf {
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #c99b2b;
            width: 72.4rem;
            height: 4.3rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .physical-address-FdT {
            color: #ffffff;
            white-space: nowrap;
            font-size: 1.6rem;
            font-weight: 800;
            width: 15.9rem;
            height: 4.2rem;
            position: absolute;
            left: 52.2rem;
            top: 0.6rem;
            text-align: center;
            line-height: 2.5775;
            font-family: Inknut Antiqua, 'Source Sans Pro';
          }
          .telephone-no-kq7 {
            font-weight: 800;
            font-family: Inknut Antiqua, 'Source Sans Pro';
            width: 13.2rem;
            position: absolute;
            text-align: center;
            font-size: 1.6rem;
            color: #ffffff;
            white-space: nowrap;
            height: 4.2rem;
            left: 29.95rem;
            top: 0.5rem;
            line-height: 2.5775;
          }
          .rectangle-58-UFK {
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            width: 72.4rem;
            height: 4.3rem;
            position: absolute;
            left: 0;
            top: 4.3rem;
          }
          .name-zzM {
            font-weight: 800;
            line-height: 2.5775;
            color: #ffffff;
            font-family: Inknut Antiqua, 'Source Sans Pro';
            white-space: nowrap;
            width: 5.3rem;
            top: 0.4rem;
            font-size: 1.6rem;
            text-align: center;
            height: 4.2rem;
            position: absolute;
            left: 10rem;
          }
        }
      }
    }
    .auto-group-9js5-VgD {
      position: absolute;
      left: 44.1rem;
      top: 27rem;
      display: flex;
      align-items: flex-start;
      width: 108.7rem;
      height: 4rem;

      .accident-location-ckq {
        line-height: 2.5775;
        font-weight: 500;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 7.7rem;
        text-align: center;
        font-size: 1.5rem;
      }
      .rectangle-38-YPb {
        background-color: #fffefd;
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 85.5rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
      }
    }
    .auto-group-amkf-TmT {
      height: 4rem;
      position: absolute;
      left: 43.85rem;
      top: 36rem;
      display: flex;
      align-items: flex-start;
      width: 108.95rem;

      .road-type-PQD {
        text-align: center;
        font-weight: 500;
        line-height: 2.5775;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 14.45rem;
        font-size: 1.5rem;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
      .auto-group-trxd-utM {
        box-sizing: border-box;
        padding: 0.3rem 0.303rem 0.4rem 81.1rem;
        height: 100%;
        border: solid 0.1rem #020642;
        background-color: #fffefd;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .image-9-e5F {
          width: 4.0966rem;
          height: 3.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
    }
    .auto-group-2rfd-MEZ {
      width: 109.4rem;
      height: 4rem;
      position: absolute;
      left: 43.4rem;
      top: 51.8rem;
      display: flex;
      align-items: flex-start;

      .average-speed-km-h-Upy {
        font-size: 1.5rem;
        flex-shrink: 0;
        margin-right: 5.5rem;
        font-weight: 500;
        line-height: 2.5775;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
      }
      .rectangle-40-cAV {
        background-color: #fffefd;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 4.2rem;
        width: 32rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
      }
      .weather-conditions-8Pj {
        line-height: 2.5775;
        white-space: nowrap;
        text-align: center;
        font-size: 1.5rem;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 4rem;
        font-weight: 500;
      }
      .rectangle-49-fPf {
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 28.5rem;
      }
    }
    .auto-group-ycb5-oEy {
      align-items: flex-start;
      width: 109.65rem;
      height: 4.4rem;
      position: absolute;
      left: 43.15rem;
      top: 43.5rem;
      display: flex;

      .visibility-Wv5 {
        text-align: center;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0.5rem 15.95rem 0rem 0rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.5775;
        flex-shrink: 0;
      }
      .rectangle-22-E5P {
        width: 32rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 3.8rem;
      }
      .wet-or-dry-road-surface-Z7f {
        font-weight: 500;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.2rem;
        text-align: center;
        font-size: 1.5rem;
        line-height: 2.5775;
      }
      .rectangle-48-H3f {
        width: 28.5rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
      }
    }
    .auto-group-gkp7-i8y {
      position: absolute;
      left: 43.15rem;
      top: 58.8rem;
      display: flex;
      align-items: flex-start;
      width: 109.65rem;
      height: 4.2rem;

      .to-which-station-was-the-accident-reported--Et1 {
        flex-shrink: 0;
        margin-right: 2.35rem;
        text-align: center;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.5775;
      }
      .rectangle-50-9k5 {
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #fffefd;
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 67.8rem;
      }
    }
    .auto-group-1crq-V3F {
      white-space: nowrap;
      background-color: #fffefd;
      line-height: 2.5775;
      color: #000000;
      padding: 5.6rem 1.05rem 0.1rem 95.75rem;
      width: 107rem;
      position: absolute;
      left: 45.1rem;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      border-radius: 0.5rem;
      box-sizing: border-box;
      height: 9.6rem;
      top: 81.8rem;
      font-family: Inknut Antiqua, 'Source Sans Pro';
      border: solid 0.1rem #020642;
    }
    .auto-group-kreb-iAu {
      width: 107rem;
      height: 10rem;
      position: absolute;
      left: 45.1rem;
      top: 101.1rem;

      .rectangle-51-Ssb {
        width: 107rem;
        height: 9.5rem;
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #fffefd;
        border-radius: 0.5rem;
      }
      .words-NWM {
        position: absolute;
        white-space: nowrap;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.5775;
        width: 10.2rem;
        height: 3.9rem;
        left: 95.85rem;
        top: 6.1rem;
        text-align: center;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
    }
    .auto-group-4ifu-UZP {
      padding: 5.6rem 1.55rem 0rem 95.25rem;
      color: #000000;
      font-family: Inknut Antiqua, 'Source Sans Pro';
      border: solid 0.1rem #020642;
      box-sizing: border-box;
      height: 9.5rem;
      left: 45.1rem;
      top: 126.1rem;
      font-weight: 500;
      line-height: 2.5775;
      background-color: #fffefd;
      width: 107rem;
      position: absolute;
      text-align: center;
      font-size: 1.5rem;
      white-space: nowrap;
      border-radius: 0.5rem;
    }
    .auto-group-sunk-7sF {
      position: absolute;
      left: 45.5rem;
      top: 76rem;
      display: flex;
      align-items: flex-start;
      width: 36.85rem;
      height: 4.2rem;

      .give-the-drivers-statement--FCm {
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.6rem;
        text-align: center;
        font-weight: 500;
        line-height: 2.5775;
        flex-shrink: 0;
        margin-right: 1.25rem;
      }
      .oo-words-AKj {
        color: #c99b2b;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.5775;
      }
    }
    .auto-group-urgo-Vso {
      align-items: flex-end;
      width: 49.95rem;
      height: 4.2rem;
      position: absolute;
      left: 46.1rem;
      top: 121.1rem;
      display: flex;

      .state-briefly-damage-acquired-by-the-vehicle-EKb {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.35rem;
        font-weight: 500;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        color: #000000;
        text-align: center;
        font-size: 1.6rem;
        line-height: 2.5775;
      }
      .oo-words-Yr5 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.5775;
        color: #c99b2b;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
    }
    .i-declare-that-these-particulars-are-true-and-correct-and-undertake-to-forward-any-correspondence-relating-to-the-accident-Hof {
      text-align: center;
      font-weight: 500;
      line-height: 2.5775;
      color: #000000;
      width: 109.8rem;
      height: 10.4rem;
      left: 42.35rem;
      top: 198.2rem;
      position: absolute;
      font-size: 2rem;
      font-family: Inknut Antiqua, 'Source Sans Pro';
    }
    .auto-group-fx31-MoX {
      top: 95.3rem;
      display: flex;
      align-items: center;
      width: 53rem;
      height: 4.2rem;
      position: absolute;
      left: 45.35rem;

      .give-the-car-owners-statement-if-applicable--Veq {
        font-weight: 500;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        display: flex;
        flex-shrink: 0;
        white-space: nowrap;
        align-items: baseline;
        margin-right: 0.9rem;
        text-align: center;
        font-size: 1.6rem;
        line-height: 2.5775;
        color: #000000;

        .give-the-car-owners-statement-if-applicable--Veq-sub-0 {
        }
        .give-the-car-owners-statement-if-applicable--Veq-sub-1 {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 2.5775;
          color: #c99b2b;
          font-family: Inknut Antiqua, 'Source Sans Pro';
        }
        .give-the-car-owners-statement-if-applicable--Veq-sub-2 {
        }
      }
      .oo-words-nnM {
        font-weight: 500;
        line-height: 2.5775;
        text-align: center;
        font-size: 1.5rem;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        color: #c99b2b;
      }
    }
    .auto-group-1fpr-vNm {
      width: 87.15rem;
      height: 7.8rem;
      position: absolute;
      left: 64.95rem;
      top: 215rem;
      display: flex;
      align-items: flex-end;

      .signature-epZ {
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.5299999714);
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 44.25rem 0.1rem 0rem;
        text-align: center;
        line-height: 2.5775;
      }
      .auto-group-anu3-AY1 {
        font-size: 2rem;
        color: #020642;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        justify-content: center;
        flex-shrink: 0;
        align-items: center;
        border: solid 0.1rem #020642;
        height: 100%;
        text-align: center;
        font-weight: 500;
        white-space: nowrap;
        display: flex;
        width: 32rem;
        box-sizing: border-box;
        background-color: #c99b2b;
        line-height: 2.5775;
      }
    }
    .auto-group-ulhh-F3f {
      width: 106.4rem;
      height: 9.7rem;
      position: absolute;
      left: 45.7rem;
      top: 145.9rem;

      .description-mGu {
        left: 80.85rem;
        text-align: center;
        font-size: 1.6rem;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        height: 4.2rem;
        position: absolute;
        font-weight: 800;
        line-height: 2.5775;
        color: #ffffff;
        width: 11.2rem;
        top: 0;
      }
      .rectangle-83-GzM {
        position: absolute;
        left: 0;
        top: 1.1rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #c99b2b;
        width: 106.4rem;
        height: 4.3rem;
      }
      .description-bmj {
        color: #ffffff;
        white-space: nowrap;
        height: 4.2rem;
        position: absolute;
        left: 44.85rem;
        text-align: center;
        line-height: 2.5775;
        width: 11.2rem;
        top: 1.4rem;
        font-size: 1.6rem;
        font-weight: 800;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
      .rectangle-84-KBw {
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background-color: #ffffff;
        width: 106.4rem;
        height: 4.3rem;
        position: absolute;
        left: 0;
        top: 5.4rem;
      }
      .line-21-SXT {
        width: 0.1rem;
        height: 0.1rem;
        position: absolute;
        left: 42.8rem;
        top: 0.9rem;
        background-color: #000000;
      }
      .name-mZj {
        line-height: 2.5775;
        white-space: nowrap;
        position: absolute;
        top: 1.5rem;
        font-size: 1.6rem;
        text-align: center;
        font-weight: 800;
        color: #ffffff;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        width: 5.3rem;
        height: 4.2rem;
        left: 10rem;
      }
    }
    .rectangle-59-ssf {
      height: 4.3rem;
      position: absolute;
      left: 45.4rem;
      top: 180.3rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 72.4rem;
    }
    .rectangle-60-c4Z {
      top: 184.6rem;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 72.4rem;
      height: 4.3rem;
      position: absolute;
      left: 45.4rem;
    }
    .line-14-w6q {
      height: 0.1rem;
      position: absolute;
      left: 45.4rem;
      top: 222.8rem;
      background-color: #000000;
      width: 52.6rem;
    }
    .rectangle-85-sWH {
      box-sizing: border-box;
      background-color: #ffffff;
      width: 106.4rem;
      height: 4.3rem;
      position: absolute;
      left: 45.7rem;
      top: 155.6rem;
      border: solid 0.1rem #000000;
    }
  }
}
