
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.form2-ivm {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-6v79-sHs {
    margin-bottom: 0.5rem;
    width: 100%;
    height: 18.4rem;
    position: relative;
    flex-shrink: 0;

    .image-12-Pn1 {
      vertical-align: top;
      width: 192rem;
      height: 15.7rem;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
    }
    .item-999-112-911-Kff {
      position: absolute;
      top: 14.3rem;
      color: #000000;
      font-family: Inknut Antiqua, 'Source Sans Pro';
      text-align: center;
      font-size: 1.5rem;
      font-weight: 800;
      line-height: 2.5775;
      width: 9.5rem;
      height: 3.9rem;
      left: 180.4rem;
      white-space: nowrap;
      display: flex;
      align-items: baseline;

      .item-999-112-911-Kff-sub-0 {
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 2.5775;
        color: #cc1717;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
      .item-999-112-911-Kff-sub-1 {
      }
      .item-999-112-911-Kff-sub-2 {
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 2.5775;
        color: #020642;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
    }
    .police-hot-lines-7zq {
      font-family: Inknut Antiqua, 'Source Sans Pro';
      position: absolute;
      color: #000000;
      left: 163.65rem;
      top: 14.5rem;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 800;
      line-height: 2.5775;
      width: 14.6rem;
      height: 3.9rem;
      white-space: nowrap;
    }
  }
  .auto-group-ultt-26D {
    width: 100%;
    height: 6.8rem;
    position: relative;
    flex-shrink: 0;

    .line-2-mpV {
      left: 0;
      top: 0.2rem;
      background-color: #ff8080;
      width: 192rem;
      height: 0.1rem;
      position: absolute;
    }
    .traffic-accident-report-form-Wn5 {
      font-family: Inknut Antiqua, 'Source Sans Pro';
      position: absolute;
      top: 0;
      font-weight: 800;
      line-height: 2.5775;
      color: #020642;
      white-space: nowrap;
      width: 56.9rem;
      height: 6.8rem;
      left: 68.3rem;
      text-align: center;
      font-size: 2.6rem;
    }
  }
  .auto-group-xd87-QcZ {
    flex-shrink: 0;
    width: 100%;
    height: 193.7rem;
    position: relative;

    .auto-group-9ts7-kRX {
      width: 19rem;
      height: 8.3rem;
      position: absolute;
      left: 30.55rem;
      top: 15.2rem;
      display: flex;
      align-items: flex-end;

      .item-4-t1w {
        margin-right: 6.4rem;
        font-size: 3.2rem;
        font-weight: 800;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        text-align: center;
        line-height: 2.5775;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .driver-oeh {
        text-align: center;
        font-weight: 800;
        color: #020642;
        white-space: nowrap;
        margin-bottom: 0.3rem;
        font-size: 2.4rem;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-xbg7-XKo {
      width: 106.1rem;
      height: 4.4rem;
      position: absolute;
      left: 40.2rem;
      top: 23.6rem;
      display: flex;
      align-items: flex-end;

      .drivers-official-names-pph {
        flex-shrink: 0;
        margin: 0rem 1.3rem 0.5rem 0rem;
        text-align: center;
        font-size: 1.5rem;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        font-weight: 500;
        line-height: 2.5775;
        color: #000000;
        white-space: nowrap;
      }
      .rectangle-21-KmT {
        width: 42rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #fffefd;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 2.85rem;
      }
      .contact-details-eHw {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.5775;
        color: #000000;
        margin: 0rem 1.65rem 0.1rem 0rem;
        text-align: center;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .rectangle-39-Zfo {
        background-color: #fffefd;
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 26rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
      }
    }
    .auto-group-y3ik-VpM {
      width: 105.85rem;
      height: 5.1rem;
      position: absolute;
      left: 40.45rem;
      top: 32.5rem;
      display: flex;
      align-items: center;

      .date-of-birth-RT7 {
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        font-weight: 500;
        color: #000000;
        flex-shrink: 0;
        margin: 1.2rem 8.75rem 0rem 0rem;
        font-size: 1.5rem;
        line-height: 2.5775;
      }
      .auto-group-pxdv-wRT {
        background-color: #fffefd;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin: 0rem 2.95rem 1.1rem 0rem;
        box-sizing: border-box;
        padding: 0.1rem 0.522rem 0.1rem 38.3rem;
        height: 4rem;
        border: solid 0.1rem #020642;

        .image-11-3UV {
          height: 3.3rem;
          object-fit: cover;
          vertical-align: top;
          width: 3.1778rem;
        }
      }
      .occupation-kdo {
        line-height: 2.5775;
        color: #000000;
        white-space: nowrap;
        font-size: 1.5rem;
        font-weight: 500;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0.4rem 4.15rem 0rem 0rem;
        text-align: center;
      }
      .rectangle-22-Gs3 {
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-bottom: 1.1rem;
        width: 26.6rem;
        height: 4rem;
      }
    }
    .auto-group-nfjh-Pwf {
      display: flex;
      align-items: flex-start;
      width: 106.9rem;
      height: 7.8rem;
      position: absolute;
      left: 39.4rem;
      top: 42.1rem;

      .id-number-passport-number-88Z {
        flex-shrink: 0;
        max-width: 18rem;
        text-align: center;
        font-size: 1.5rem;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        margin-right: 3.4rem;
        font-weight: 500;
        line-height: 2.5775;
      }
      .rectangle-40-EBb {
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 85.5rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #fffefd;
      }
    }
    .auto-group-5m23-9JZ {
      left: 39.2rem;
      top: 53.2rem;
      display: flex;
      align-items: flex-start;
      width: 107.1rem;
      height: 4.3rem;
      position: absolute;

      .drivers-license-number-fXo {
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.5775;
        flex-shrink: 0;
        margin: 0.1rem 2rem 0rem 0rem;
        text-align: center;
        white-space: nowrap;
      }
      .rectangle-47-mqj {
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #fffefd;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 3.65rem;
        width: 29rem;
        height: 4rem;
      }
      .drivers-license-expiry-date-JKs {
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 0.95rem;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.5775;
        color: #000000;
        flex-shrink: 0;
      }
      .auto-group-mft1-1zy {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.2rem 0.322rem 0.2rem 19.8rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        background-color: #fffefd;
        border-radius: 0.5rem;

        .image-13-x9X {
          object-fit: cover;
          vertical-align: top;
          width: 3.1778rem;
          height: 3.3rem;
        }
      }
    }
    .auto-group-xano-g5X {
      top: 76.2rem;
      width: 107rem;
      height: 20.5rem;
      position: absolute;
      left: 40rem;

      .rectangle-43-1db {
        position: absolute;
        left: 0;
        top: 0;
        border: solid 0.1rem #020642;
        background-color: #fffefd;
        border-radius: 0.5rem;
        width: 107rem;
        height: 20.4rem;
        box-sizing: border-box;
      }
      .words-Xrq {
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        width: 10.3rem;
        top: 16.6rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: #000000;
        height: 3.9rem;
        position: absolute;
        left: 95.3rem;
      }
      .eg-drunk-driving-accident-hit-and-run-accident-FH3 {
        font-weight: 800;
        line-height: 2.5775;
        color: rgba(0, 0, 0, 0.4600000083);
        white-space: nowrap;
        width: 45.3rem;
        left: 2.65rem;
        top: 1.7rem;
        text-align: center;
        font-size: 1.6rem;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        height: 4.2rem;
        position: absolute;
      }
    }
    .auto-group-vzej-8rd {
      width: 107rem;
      height: 24.3rem;
      position: absolute;
      left: 39.3rem;
      top: 107rem;

      .rectangle-46-frZ {
        position: absolute;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #fffefd;
        border-radius: 0.5rem;
        width: 107rem;
        height: 20.4rem;
        left: 0;
        top: 3.9rem;
      }
      .eg-give-drivers-insurance-name-and-expiry-date-P1s {
        white-space: nowrap;
        width: 45.5rem;
        position: absolute;
        font-size: 1.6rem;
        font-weight: 800;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        color: rgba(0, 0, 0, 0.4600000083);
        height: 4.2rem;
        left: 4.2rem;
        top: 4.5rem;
        text-align: center;
        line-height: 2.5775;
      }
      .if-yes-give-insurance-details-59b {
        line-height: 2.5775;
        color: #000000;
        white-space: nowrap;
        width: 25.2rem;
        position: absolute;
        left: 1.95rem;
        font-weight: 500;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        height: 4.2rem;
        top: 0;
        text-align: center;
        font-size: 1.6rem;
      }
      .words-N8h {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        width: 10.3rem;
        height: 3.9rem;
        position: absolute;
        left: 95.7rem;
        top: 19.4rem;
        line-height: 2.5775;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
      }
      .oo-words-sr9 {
        width: 10.4rem;
        position: absolute;
        text-align: center;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        height: 3.9rem;
        left: 28.65rem;
        top: 0;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.5775;
        color: #c99b2b;
      }
    }
    .auto-group-zrhh-bGM {
      height: 4.3rem;
      position: absolute;
      left: 41.6rem;
      top: 71.8rem;
      display: flex;
      align-items: flex-start;
      width: 31.25rem;

      .if-yes-provide-details-vpR {
        margin: 0.1rem 0.85rem 0rem 0rem;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 500;
        color: #000000;
        flex-shrink: 0;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
      }
      .oo-words-3PF {
        flex-shrink: 0;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.5775;
        color: #c99b2b;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-quj5-z3b {
      width: 76.6rem;
      height: 5.3rem;
      position: absolute;
      left: 40.35rem;
      top: 100.2rem;
      display: flex;
      align-items: center;

      .does-driver-own-the-vehicle-WGq {
        font-size: 1.6rem;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0.5rem 3.65rem 0rem 0rem;
        text-align: center;
        white-space: nowrap;
        font-weight: 500;
        color: #000000;
      }
      .rectangle-44-pYR {
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin: 0.1rem 3.05rem 0rem 0rem;
        width: 6.2rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #ffffff;
      }
      .yes-LWm {
        font-weight: 500;
        color: #000000;
        text-align: center;
        font-size: 2rem;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 22.85rem 0.1rem 0rem;
        line-height: 2.5775;
      }
      .rectangle-45-4Sm {
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin: 0.1rem 2.15rem 0rem 0rem;
        width: 6.2rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #fffefd;
      }
      .no-BGV {
        color: #000000;
        flex-shrink: 0;
        margin-top: 0.1rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-jtl7-uyB {
      height: 7.8rem;
      position: absolute;
      left: 39.3rem;
      top: 165.7rem;
      display: flex;
      align-items: center;
      width: 106.7rem;

      .auto-group-dpuf-2Y1 {
        margin-right: 42.7rem;
        height: 100%;
        white-space: nowrap;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 0.5rem;
        width: 32rem;
        text-align: center;
        font-size: 2rem;
        display: flex;
        font-weight: 500;
        line-height: 2.5775;
        align-items: center;
        flex-shrink: 0;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        border: solid 0.1rem #020642;
        background-color: #c99b2b;
      }
      .auto-group-qxgs-6Gy {
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #c99b2b;
        line-height: 2.5775;
        display: flex;
        justify-content: center;
        width: 32rem;
        font-size: 2rem;
        align-items: center;
        border-radius: 0.5rem;
        flex-shrink: 0;
        height: 100%;
        text-align: center;
        font-weight: 500;
        color: #000000;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
      }
    }
    .auto-group-6ed9-aC9 {
      position: absolute;
      left: 45.8rem;
      top: 4.6rem;
      display: flex;
      align-items: center;
      width: 103.4rem;
      height: 4.5rem;

      .ellipse-1-tyX {
        margin-top: 0.4rem;
        width: 3.8rem;
        height: 4.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-9hsk-EXb {
        margin-top: 0.4rem;
        width: 46.9rem;
        height: 0.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ellipse-2-mnR {
        height: 4.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.4rem;
        width: 3.8rem;
      }
      .line-4-K3F {
        margin-top: 0.4rem;
        width: 45.1rem;
        height: 0.1rem;
        background-color: #020642;
        flex-shrink: 0;
      }
      .ellipse-3-FxV {
        margin-bottom: 0.4rem;
        width: 3.8rem;
        height: 4.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-4ovt-1Ay {
      width: 111.9rem;
      height: 3.7rem;
      position: absolute;
      left: 42.15rem;
      top: 10.3rem;
      display: flex;
      align-items: center;

      .vehicle-details-LU9 {
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        text-align: center;
        font-weight: 800;
        color: #000000;
        margin-right: 37.85rem;
      }
      .driver-details-GMo {
        font-size: 1.4rem;
        margin-right: 36.45rem;
        text-align: center;
        font-weight: 800;
        line-height: 2.5775;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .accident-details-PSR {
        line-height: 2.5775;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 800;
      }
    }
    .auto-group-vp3r-X2q {
      width: 94.65rem;
      height: 6.1rem;
      position: absolute;
      left: 38.7rem;
      top: 62.5rem;
      display: flex;
      align-items: center;

      .has-the-driver-had-any-previous-vehicle-accidents--EC9 {
        text-align: center;
        font-size: 1.6rem;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 1.7rem 1.9rem 0rem 0rem;
        font-weight: 500;
        line-height: 2.5775;
        white-space: nowrap;
      }
      .rectangle-41-jPo {
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin: 0.9rem 3.05rem 0rem 0rem;
        width: 6.2rem;
        height: 4rem;
      }
      .yes-3fP {
        text-align: center;
        font-weight: 500;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0.9rem 22.85rem 0rem 0rem;
        font-size: 2rem;
        line-height: 2.5775;
        color: #000000;
        white-space: nowrap;
      }
      .rectangle-42-ZNq {
        flex-shrink: 0;
        margin: 0rem 2.15rem 0.3rem 0rem;
        width: 6.2rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #fffefd;
        border-radius: 0.5rem;
      }
      .no-UVo {
        text-align: center;
        font-weight: 500;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.9rem;
        font-size: 2rem;
        color: #000000;
      }
    }
  }
}
