
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.form1-VkD {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .image-12-qJH {
    width: 192rem;
    height: 12.8rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-jx43-NJD {
    width: 100%;
    height: 206.6rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-ijqb-JBs {
      width: 192rem;
      height: 4.1rem;
      position: absolute;
      left: 0;
      top: 0;

      .line-2-SJ5 {
        background-color: #000000;
        width: 192rem;
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 3.5896rem;
      }
      .item-999-112-911-Zdb {
        color: #000000;
        white-space: nowrap;
        align-items: baseline;
        left: 180.3rem;
        font-weight: 800;
        text-align: center;
        font-size: 1.5rem;
        display: flex;
        height: 3.9rem;
        position: absolute;
        line-height: 2.5775;
        width: 9.5rem;
        top: 0;
        font-family: Inknut Antiqua, 'Source Sans Pro';

        .item-999-112-911-Zdb-sub-0 {
          font-size: 1.5rem;
          font-weight: 800;
          line-height: 2.5775;
          color: #cc1717;
          font-family: Inknut Antiqua, 'Source Sans Pro';
        }
        .item-999-112-911-Zdb-sub-1 {
        }
        .item-999-112-911-Zdb-sub-2 {
          font-weight: 800;
          line-height: 2.5775;
          color: #020642;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          font-size: 1.5rem;
        }
      }
      .police-hot-lines-opm {
        width: 14.6rem;
        height: 3.9rem;
        position: absolute;
        left: 163.55rem;
        top: 0.2rem;
        text-align: center;
        font-size: 1.5rem;
        line-height: 2.5775;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        font-weight: 800;
        white-space: nowrap;
      }
    }
    .auto-group-zxdq-iB3 {
      top: 4.6rem;
      width: 56.9rem;
      height: 17.3rem;
      position: absolute;
      left: 69.4rem;

      .traffic-accident-report-form-qFf {
        width: 56.9rem;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 2.6rem;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        height: 6.8rem;
        text-align: center;
        font-weight: 800;
        line-height: 2.5775;
        color: #020642;
        white-space: nowrap;
      }
      .image-36-k7j {
        top: 6.3rem;
        object-fit: cover;
        vertical-align: top;
        width: 14.2rem;
        height: 11rem;
        cursor: pointer;
        position: absolute;
        left: 21.4rem;
      }
    }
    .auto-group-u4zh-sCM {
      width: 113rem;
      height: 12.2rem;
      position: absolute;
      left: 34.6rem;
      top: 33.7rem;
      display: flex;
      align-items: flex-end;

      .item-1-zXs {
        color: #000000;
        flex-shrink: 0;
        text-align: center;
        font-weight: 800;
        line-height: 2.5775;
        white-space: nowrap;
        margin: 0rem 3.55rem 3.9rem 0rem;
        font-size: 3.2rem;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
      .auto-group-5wtp-tdF {
        width: 15.35rem;
        flex-shrink: 0;
        margin-right: 3.6rem;

        .vehicle-d53 {
          margin-bottom: 0.4rem;
          text-align: center;
          line-height: 2.5775;
          color: #020642;
          width: 100%;
          font-size: 2.4rem;
          font-weight: 800;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          white-space: nowrap;
        }
        .make-and-model-x7K {
          font-weight: 500;
          line-height: 2.5775;
          color: #000000;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          white-space: nowrap;
          width: 100%;
          text-align: center;
          font-size: 1.6rem;
        }
      }
      .rectangle-21-UrM {
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 87.8rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #fffefd;
      }
    }
    .auto-group-9xd9-BVs {
      height: 13.4rem;
      position: absolute;
      left: 34.35rem;
      top: 91.6rem;
      display: flex;
      align-items: flex-end;
      width: 116.3rem;

      .item-2-WY9 {
        line-height: 2.5775;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 4.3rem 5.1rem 0rem;
        font-size: 3.2rem;
        font-weight: 800;
        text-align: center;
      }
      .auto-group-prjx-RQD {
        margin-right: 0.5rem;
        width: 97.9rem;
        flex-shrink: 0;

        .vehicle-use-mU5 {
          width: 100%;
          text-align: center;
          font-weight: 800;
          color: #020642;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.7rem;
          line-height: 2.5775;
          font-size: 2.4rem;
        }
        .state-the-exact-purpose-for-which-the-vehicle-was-being-used-at-the-time-of-the-accident-tob {
          line-height: 2.5775;
          color: #000000;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          white-space: nowrap;
          width: 100%;
          text-align: center;
          font-size: 2rem;
          font-weight: 500;
        }
      }
      .oo-words-C3b {
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.6rem;
        font-size: 1.5rem;
        line-height: 2.5775;
        text-align: center;
        font-weight: 500;
        color: #c99b2b;
      }
    }
    .auto-group-nrxj-KP7 {
      height: 8.3rem;
      position: absolute;
      left: 35.7rem;
      top: 134.8rem;
      display: flex;
      align-items: flex-end;
      width: 51rem;

      .item-3-FXf {
        flex-shrink: 0;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 800;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 4.7rem;
        line-height: 2.5775;
        color: #000000;
      }
      .commercial-vehicle-if-applicable-mF7 {
        font-weight: 800;
        line-height: 2.5775;
        color: #000000;
        display: flex;
        align-items: baseline;
        margin-bottom: 0.3rem;
        font-size: 2.4rem;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-family: Inknut Antiqua, 'Source Sans Pro';

        .commercial-vehicle-if-applicable-mF7-sub-0 {
          font-size: 2.4rem;
          font-weight: 800;
          line-height: 2.5775;
          color: #020642;
          font-family: Inknut Antiqua, 'Source Sans Pro';
        }
        .commercial-vehicle-if-applicable-mF7-sub-1 {
        }
        .commercial-vehicle-if-applicable-mF7-sub-2 {
          line-height: 2.5775;
          color: #020642;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 800;
        }
      }
    }
    .auto-group-reno-12y {
      width: 106.05rem;
      height: 5.8rem;
      position: absolute;
      left: 41.55rem;
      top: 48.4rem;
      display: flex;
      align-items: center;

      .hp-cc-WEd {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        color: #000000;
        font-weight: 500;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        margin: 1.6rem 12.25rem 0rem 0rem;
        text-align: center;
      }
      .rectangle-22-DPw {
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin: 0rem 6.2rem 0.2rem 0rem;
        width: 30rem;
        height: 4rem;
        border: solid 0.1rem #020642;
      }
      .year-of-manufacture-KSy {
        text-align: center;
        font-weight: 500;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 4.3rem 1.9rem 0rem;
        font-size: 1.5rem;
        line-height: 2.5775;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
      .rectangle-23-2sB {
        width: 30.2rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #fffefd;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-bottom: 0.6rem;
      }
    }
    .auto-group-mjsm-MPf {
      width: 106.55rem;
      height: 4.8rem;
      position: absolute;
      left: 41.05rem;
      top: 58.1rem;
      display: flex;
      align-items: flex-end;

      .license-plate-no-ggq {
        text-align: center;
        line-height: 2.5775;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 2.75rem 0.6rem 0rem;
        font-size: 1.6rem;
        font-weight: 500;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
      .rectangle-24-Cv5 {
        background-color: #fffefd;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 5.45rem;
        width: 30rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
      }
      .license-plate-expiry-date-LFb {
        font-size: 1.5rem;
        font-weight: 500;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 1.25rem 0.1rem 0rem;
        text-align: center;
        line-height: 2.5775;
        white-space: nowrap;
      }
      .auto-group-fyyv-T5K {
        margin: 0.6rem 0rem 0.2rem 0rem;
        box-sizing: border-box;
        padding: 0.3rem 0.522rem 0.4rem 26.3rem;
        height: calc(100% - 0.8rem);
        border: solid 0.1rem #020642;
        background-color: #fffefd;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .image-11-xXs {
          width: 3.1778rem;
          height: 3.3rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .auto-group-mus9-gCy {
      align-items: center;
      width: 107.3rem;
      height: 8.3rem;
      position: absolute;
      left: 40.3rem;
      top: 68.6rem;
      display: flex;

      .registration-no-trailer-cMX {
        line-height: 2.5775;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 15.4rem;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 500;
      }
      .auto-group-szno-8qf {
        box-sizing: border-box;
        padding-left: 4.1rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .rectangle-26-Gws {
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 0.6rem 5.8rem 0rem 0rem;
          width: 30rem;
          height: 4rem;
          border: solid 0.1rem #020642;
          box-sizing: border-box;
        }
        .carrying-capacity-Nk1 {
          flex-shrink: 0;
          margin: 0.1rem 6.5rem 0rem 0rem;
          font-weight: 500;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          color: #000000;
          white-space: nowrap;
          text-align: center;
          font-size: 1.5rem;
          line-height: 2.5775;
        }
        .rectangle-27-gkh {
          background-color: #fffefd;
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 30rem;
          height: 4rem;
          border: solid 0.1rem #020642;
          box-sizing: border-box;
        }
      }
    }
    .auto-group-rhy7-Qwb {
      width: 106.9rem;
      height: 4.2rem;
      position: absolute;
      left: 40.7rem;
      top: 78.4rem;
      display: flex;
      align-items: flex-end;

      .car-insurance-Ynu {
        line-height: 2.5775;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.6rem;
        text-align: center;
        font-weight: 500;
        flex-shrink: 0;
        margin-right: 6.5rem;
      }
      .auto-group-5c9h-5H3 {
        flex-shrink: 0;
        margin-top: 0.2rem;
        box-sizing: border-box;
        padding: 0.3rem 0.403rem 0.4rem 83.3rem;
        border: solid 0.1rem #020642;
        background-color: #ffffff;
        border-radius: 0.5rem;

        .image-9-oiq {
          width: 4.0966rem;
          height: 3.3rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
      }
    }
    .auto-group-baix-iau {
      position: absolute;
      left: 45.7rem;
      top: 143.5rem;
      display: flex;
      align-items: flex-start;
      width: 102.7rem;
      height: 4.2rem;

      .description-of-goods-being-carried-FKw {
        text-align: center;
        font-weight: 500;
        line-height: 2.5775;
        flex-shrink: 0;
        margin-right: 10.3rem;
        font-size: 1.6rem;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rectangle-30-knV {
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 61.5rem;
        height: 4rem;
        border: solid 0.1rem #020642;
      }
    }
    .auto-group-aboq-HnR {
      width: 94.2rem;
      height: 5.6rem;
      position: absolute;
      left: 44.15rem;
      top: 160.5rem;
      display: flex;
      align-items: center;

      .was-a-trailer-attached-cZo {
        text-align: center;
        font-size: 1.6rem;
        color: #000000;
        margin: 1.4rem 21.95rem 0rem 0rem;
        font-weight: 500;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .rectangle-32-7mT {
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin: 0rem 2.25rem 0.4rem 0rem;
        width: 6.2rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
      }
      .yes-cTK {
        font-size: 2rem;
        font-weight: 500;
        line-height: 2.5775;
        margin: 0rem 27.65rem 0.2rem 0rem;
        text-align: center;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .rectangle-33-L8R {
        flex-shrink: 0;
        margin: 0rem 2.15rem 0.4rem 0rem;
        width: 6.2rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
        background-color: #fffefd;
        border-radius: 0.5rem;
      }
      .no-EDo {
        margin-bottom: 0.4rem;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        color: #000000;
      }
    }
    .auto-group-rfhu-ANM {
      height: 6rem;
      position: absolute;
      left: 43.85rem;
      top: 171.1rem;
      display: flex;
      align-items: center;
      width: 104.55rem;

      .weight-of-load-on-tZF {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 27.4rem 1.8rem 0rem;
        text-align: center;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 500;
        color: #000000;
      }
      .i-vehicle-ogD {
        font-size: 2rem;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        margin: 0.6rem 1.75rem 0rem 0rem;
        text-align: center;
        font-weight: 500;
        line-height: 2.5775;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-58xb-j45 {
        padding: 0.1rem 3.85rem 0rem 4.35rem;
        font-weight: 500;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        background-color: #fffefd;
        height: calc(100% - 2rem);
        text-align: center;
        border: solid 0.1rem #020642;
        border-radius: 0.5rem;
        flex-shrink: 0;
        box-sizing: border-box;
        font-size: 1.5rem;
        white-space: nowrap;
        margin: 1.5rem 8.3rem 0.5rem 0rem;
        line-height: 2.5775;
        color: rgba(0, 0, 0, 0.5099999905);
      }
      .ii-trailer-Zoo {
        font-weight: 500;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0.8rem 3.4rem 0rem 0rem;
        text-align: center;
        white-space: nowrap;
        font-size: 2rem;
        color: #000000;
      }
      .auto-group-mvnj-VBf {
        margin-top: 1.1rem;
        width: 13.2rem;
        height: 4.1rem;
        position: relative;
        flex-shrink: 0;

        .rectangle-35-EQ9 {
          width: 13.2rem;
          left: 0;
          top: 0;
          background-color: #ffffff;
          border-radius: 0.5rem;
          height: 4rem;
          position: absolute;
          border: solid 0.1rem #020642;
          box-sizing: border-box;
        }
        .in-kgs-Yvd {
          left: 4.05rem;
          top: 0.2rem;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 2.5775;
          color: rgba(0, 0, 0, 0.4600000083);
          width: 5rem;
          font-family: Inknut Antiqua, 'Source Sans Pro';
          position: absolute;
          white-space: nowrap;
          height: 3.9rem;
        }
      }
    }
    .auto-group-ytpd-F4M {
      position: absolute;
      left: 44.55rem;
      top: 152.3rem;
      display: flex;
      align-items: flex-start;
      width: 103.85rem;
      height: 4.6rem;

      .name-of-owner-of-goods-yW9 {
        line-height: 2.5775;
        font-weight: 500;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.4rem 20.65rem 0rem 0rem;
        text-align: center;
        font-size: 1.6rem;
      }
      .rectangle-31-fNy {
        background-color: #fffefd;
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 61.5rem;
        height: 4rem;
        border: solid 0.1rem #020642;
        box-sizing: border-box;
      }
    }
    .auto-group-ly8f-Ppm {
      width: 104.8rem;
      position: absolute;
      align-items: flex-end;
      flex-direction: column;
      background-color: #fffefd;
      border-radius: 0.5rem;
      box-sizing: border-box;
      padding: 1.7rem 1.2rem 1.1rem 2.35rem;
      top: 107.3rem;
      display: flex;
      border: solid 0.1rem #020642;
      height: 20.5rem;
      left: 43.6rem;

      .eg-transporting-goods-UrD {
        flex-shrink: 0;
        margin-bottom: 9.9rem;
        width: 100%;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        color: rgba(0, 0, 0, 0.5);
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.5775;
      }
      .words-CGR {
        text-align: center;
        line-height: 2.5775;
        white-space: nowrap;
        flex-shrink: 0;
        width: 100%;
        font-size: 1.5rem;
        font-weight: 500;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
    }
    .auto-group-kcx3-uRj {
      left: 44.6rem;
      top: 181rem;
      display: flex;
      align-items: center;
      width: 103.8rem;
      height: 8rem;
      position: absolute;

      .auto-group-tjbh-dsX {
        width: 32rem;
        height: 7.8rem;
        box-sizing: border-box;
        margin: 0rem 39.8rem 0.2rem 0rem;
        font-size: 2rem;
        font-weight: 500;
        color: #000000;
        border: solid 0.1rem #020642;
        text-align: center;
        line-height: 2.5775;
        justify-content: center;
        background-color: #c99b2b;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        flex-shrink: 0;
      }
      .auto-group-a6xd-hcV {
        margin-top: 0.2rem;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        border: solid 0.1rem #020642;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        box-sizing: border-box;
        background-color: #c99b2b;
        width: 32rem;
        height: 7.8rem;
        text-align: center;
        font-size: 2rem;
        color: #000000;
        font-weight: 500;
        line-height: 2.5775;
        align-items: center;
        flex-shrink: 0;
      }
    }
    .auto-group-ucpb-NTj {
      width: 103.4rem;
      height: 4.5rem;
      position: absolute;
      left: 45.3rem;
      top: 23.1rem;
      display: flex;
      align-items: center;

      .ellipse-1-tws {
        height: 4.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.4rem;
        width: 3.8rem;
      }
      .auto-group-su5h-duT {
        margin-top: 0.4rem;
        width: 46.9rem;
        height: 0.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ellipse-2-AuP {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.4rem;
        width: 3.8rem;
        height: 4.1rem;
      }
      .line-4-v7s {
        height: 0.1rem;
        background-color: #020642;
        flex-shrink: 0;
        margin-top: 0.4rem;
        width: 45.1rem;
      }
      .ellipse-3-FR3 {
        margin-bottom: 0.4rem;
        width: 3.8rem;
        height: 4.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-mpit-PGM {
      width: 111.9rem;
      height: 3.7rem;
      position: absolute;
      left: 41.65rem;
      top: 28.3rem;
      display: flex;
      align-items: center;

      .vehicle-details-7i9 {
        line-height: 2.5775;
        color: #000000;
        margin-right: 37.85rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 800;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .driver-details-3bo {
        text-align: center;
        font-weight: 800;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 36.45rem;
        font-size: 1.4rem;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
      .accident-details-AgR {
        font-size: 1.4rem;
        font-weight: 800;
        line-height: 2.5775;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
    }
  }
}
