
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.history-screen--PqT {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .image-27-i73 {
    margin: 0rem 0rem 1.2rem 0.1rem;
    width: 191.3rem;
    height: 18rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .line-1-pQy {
    width: 100%;
    height: 0.1rem;
    background-color: #ff8080;
    flex-shrink: 0;
  }
  .auto-group-d6nw-mr1 {
    padding: 0.1rem 5.7rem 16.6rem 8.95rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .auto-group-1e19-tvd {
      margin: 0rem 3.3rem 45.8rem 0rem;
      width: 174.05rem;
      height: 24.8rem;
      position: relative;
      flex-shrink: 0;

      .your-past-submissions-DCD {
        height: 10.4rem;
        left: 0;
        top: 0;
        font-size: 4rem;
        font-weight: 400;
        line-height: 2.5775;
        width: 49.9rem;
        position: absolute;
        text-align: center;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rectangle-87-uaq {
        position: absolute;
        top: 10rem;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 0.5rem;
        width: 173.2rem;
        height: 14.8rem;
        left: 0.85rem;
        border: solid 0.1rem #000000;
      }
      .submitted-nov-10-2023-ow7 {
        height: 5.2rem;
        line-height: 2.5775;
        color: rgba(0, 0, 0, 0.5);
        width: 25.1rem;
        position: absolute;
        left: 116.2rem;
        top: 17.8rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
      }
      .tp001-JN5 {
        width: 14.5rem;
        top: 10.3rem;
        font-size: 4rem;
        font-weight: 400;
        color: #c99b2b;
        white-space: nowrap;
        height: 10.4rem;
        position: absolute;
        left: 6.6rem;
        text-align: center;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
      .traffic-accident-report-pLR {
        left: 118.3rem;
        top: 11.6rem;
        color: #000000;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        width: 41.8rem;
        position: absolute;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 2.5775;
        height: 8.3rem;
      }
      .rectangle-88-XEq {
        position: absolute;
        left: 3.25rem;
        top: 18.9rem;
        border: solid 0.1rem #020642;
        border-radius: 0.7rem;
        height: 3.2rem;
        box-sizing: border-box;
        background-color: #020642;
        width: 8.9rem;
      }
      .rectangle-89-SMo {
        position: absolute;
        left: 12.15rem;
        box-sizing: border-box;
        background-color: #c99b2b;
        width: 17.8rem;
        height: 3.2rem;
        top: 18.9rem;
        border: solid 0.1rem #000000;
        border-radius: 0.7rem;
      }
      .stage-9n1 {
        font-family: Inknut Antiqua, 'Source Sans Pro';
        font-weight: 400;
        color: #ffffff;
        position: absolute;
        left: 4.85rem;
        top: 17.8rem;
        text-align: center;
        font-size: 2rem;
        line-height: 2.5775;
        width: 5.8rem;
        height: 5.2rem;
        white-space: nowrap;
      }
      .submitted-T21 {
        left: 15.25rem;
        text-align: center;
        font-weight: 400;
        line-height: 2.5775;
        color: #000000;
        width: 11.3rem;
        position: absolute;
        top: 17.8rem;
        font-size: 2rem;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        height: 5.2rem;
      }
    }
    .return-to-homepage-xjT {
      text-align: center;
      font-size: 4rem;
      font-weight: 400;
      line-height: 2.5775;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 46.15rem 6.8rem 0rem;
      font-family: Inknut Antiqua, 'Source Sans Pro';
    }
    .image-38-Tw7 {
      height: 10.9rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-left: 113.55rem;
      width: 63.8rem;
    }
  }
}
