
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.login-screen-xrd {
  padding: 0rem 0.3rem 0rem 23.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #c99b2b;
  box-sizing: border-box;

  .auto-group-wwkj-UiV {
    padding-top: 11.8rem;
    width: 44rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0rem 8.7rem 11rem 0rem;
    box-sizing: border-box;

    .kenya-police-traffic-accident-report-system-CgR {
      margin-bottom: 3.4rem;
      max-width: 44rem;
      text-align: center;
      font-size: 2rem;
      color: #ffffff;
      font-family: Inknut Antiqua, 'Source Sans Pro';
      flex-shrink: 0;
      font-weight: 800;
      line-height: 2.5775;
    }
    .enter-email-address-or-username-END {
      font-family: Inknut Antiqua, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 8.7rem 0.1rem 0rem;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2.5775;
      color: #ffffff;
    }
    .auto-group-bhuu-6fK {
      font-size: 1.4rem;
      line-height: 2.5775;
      font-family: Inknut Antiqua, 'Source Sans Pro';
      background-color: #ffffff;
      flex-shrink: 0;
      padding: 0.5rem 0.9rem 0.2rem 0.9rem;
      width: 38.4rem;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.4399999976);
      white-space: nowrap;
      border-radius: 0.5rem;
      margin: 0rem 0rem 6.1rem 3rem;
      box-sizing: border-box;
    }
    .password-iAu {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 28rem 0.1rem 0rem;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2.5775;
      color: #ffffff;
      font-family: Inknut Antiqua, 'Source Sans Pro';
    }
    .auto-group-q26o-pzd {
      position: relative;
      flex-shrink: 0;
      margin: 0rem 0rem 4.9rem 3rem;
      width: 38.4rem;
      height: 4.5rem;

      .rectangle-5-jrh {
        border-radius: 0.5rem;
        width: 38.4rem;
        height: 4.4rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
      }
      .image-5-eCy {
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 35.5rem;
        top: 1.4rem;
        object-fit: cover;
        vertical-align: top;
      }
      .enter-password-Y3T {
        font-weight: 500;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        top: 0.8rem;
        font-size: 1.4rem;
        line-height: 2.5775;
        color: rgba(0, 0, 0, 0.4399999976);
        width: 12rem;
        height: 3.7rem;
        position: absolute;
        left: 0.9rem;
        white-space: nowrap;
      }
    }
    .auto-group-j89q-pWm {
      flex-shrink: 0;
      margin: 0rem 1.6rem 3.4rem 4.3rem;
      width: calc(100% - 5.9rem);
      display: flex;
      align-items: center;

      .rectangle-2-Lk1 {
        flex-shrink: 0;
        margin: 0rem 1.3rem 0.6rem 0rem;
        width: 2.4rem;
        height: 2.5rem;
        background-color: #fffefd;
      }
      .remember-for-30-days-GNm {
        color: #ffffff;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.6rem;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2.5775;
      }
      .forgot-password-z3s {
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        line-height: 2.5775;
        color: #020642;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration-line: underline;
      }
    }
    .auto-group-cdmv-sdT {
      margin: 0rem 2.2rem 4.1rem 4.3rem;
      width: calc(100% - 6.5rem);
      height: 5.2rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-3-Q7b {
        top: 0.5rem;
        background-color: #020642;
        border-radius: 0.5rem;
        width: 37.5rem;
        height: 3.7rem;
        cursor: pointer;
        position: absolute;
        left: 0;
      }
      .log-in-8JV {
        white-space: nowrap;
        height: 5.2rem;
        position: absolute;
        top: 0;
        text-align: center;
        font-weight: 800;
        color: #ffffff;
        width: 9.4rem;
        left: 13.75rem;
        font-size: 2rem;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
      }
    }
    .auto-group-1myv-2uf {
      margin: 0rem 7.9rem 0rem 8rem;
      width: calc(100% - 15.9rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .dont-have-an-account-Zub {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 800;
        line-height: 2.5775;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        margin-right: 1rem;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .create-account-Gp1 {
        cursor: pointer;
        text-decoration-line: underline;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 2.5775;
        color: #020642;
        font-family: Inknut Antiqua, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-3yjs-zV7 {
    height: 102.4rem;
    position: relative;
    flex-shrink: 0;
    width: 115.3rem;

    .rectangle-1-ig1 {
      top: 0;
      background-color: #fffefd;
      border-radius: 3.9rem 0 0 3.9rem;
      width: 96rem;
      height: 102.4rem;
      position: absolute;
      left: 19.3rem;
    }
    .high-res-1-2Ro {
      vertical-align: top;
      width: 67.3rem;
      height: 99rem;
      position: absolute;
      left: 35.1rem;
      top: 1.1rem;
      object-fit: cover;
    }
  }
}
