
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 10.5rem;
}.pm-vxZ {
  height: 5.2rem;
  font-size: 2rem;
  line-height: 2.5775;
  color: #c99b2b;
  font-family: Inknut Antiqua, 'Source Sans Pro';
  white-space: nowrap;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
